__pycache__
tmp
*.swp
*.ini
*.aux
*.fls
*.log
logging.log
tserver/data
installer
todo
result.tar
tests/*.txt
tserver/config.json
tserver/config.cfg
activate
./tserver/gui/gui/settings.py
scripts/synch.sh
backups
tserver_1.0-1/opt
logs
