{% extends ext_templ %}

{% block session_content %}

<!-- Map -->
<div class="col-md-12">
  <!-- Map -->
  <div id="map" class="map">
    <div id="popup" class="ol-popup"></div>
  </div>

  <!-- Point information -->
  <h4>Current point:</h4>
  <table style="width: 500px;" class="table striped">
    <tr>
      <td class="col-md-5">Point coordinates:</td>
      <td id="point_coords"></td>
    </tr>
    <tr>
      <td class="col-md-5">Session id of the point:</td>
      <td id="point_ses_id"></td>
    </tr>
    <tr>
      <td class="col-md-5">Point nearest address:</td>
      <td id="point_address"></td>
    </tr>
  </table>
  <!-- End of point information table -->

  <!-- Script for sending map data to javascript code. -->
  <script type="text/javascript">
    init_map(JSON.parse('{{ json_map_center|safe }}'));
    {% for route in routes %}
      // Create number which is used to define route color
	  var color = [
        getRandomInt(40, 255),
        getRandomInt(40, 255),
        getRandomInt(40, 255)
      ];
      add_route(JSON.parse('{{ route.0|safe }}'), 
                JSON.parse('{{ route.1|safe }}'), 
                color);
    {% endfor %}
    set_zoom(
            {{ json_map_center|safe }},
            zoomFromBounds({{ json_map_bounds|safe }})
    );
  </script>
</div>
<!-- End of map -->

<!-- End of the content -->
{% endblock session_content %}
