{% extends '_layout/base.html' %}

{% load static %}

{% block content %}
<div class="row row-border">

  <!-- Start of the side bar -->
  <div class="col-md-2 nav-sidebar-without-rp">

    <h4>Global data:</h4>
    <nav class="nav-sidebar">
	  <ul class="nav-sidebar-list">
        <li><a href="{% url 'Session' 'corrupted'  %}download">Corrupted data</a></li>
        <li><a href="{% url 'GlobalMap' %}">Global Map</a></li>
      </ul>
    </nav>
    <h4>Sessions:</h4>
    <nav class="nav-sidebar">
	  <ul class="nav-sidebar-list">
	    {% for item in sessions %}
        <li>
          <!-- Start link to session -->
          <span class="menu-item" >
            <a href="{% url 'Session'  item.ses_id %}">{{ item.ses_id }} - 
                {{ item.getDate }}</a>
          </span>
          <!-- End link to session -->

          <!-- Start download button -->
          <span class="menu-item-cont-icon" >
            <a class="menu-icon-link" 
               href="{% url 'Session'  item.ses_id %}download"
               title="Download session"
               target="_blank">
              <span class="glyphicon glyphicon-download-alt icon-cont"
                    aria-hidden="true"></span>
            </a>
          </span>
          <!-- End download button -->
          <!-- Start Map button -->
          <span class="menu-item-cont-icon" >
            <a class="menu-icon-link" 
               href="{% url 'Session'  item.ses_id %}Map"
               title="View map in another tab." 
               target="_blank">
              <span class="glyphicon glyphicon-map-marker icon-cont"
                    aria-hidden="true"></span>
            </a>
          </span>
          <!-- End Map button -->
          <!-- Start Delete button -->
          <span class="menu-item-cont-icon" >
            <a class="menu-icon-link" 
               href="{% url 'Session'  item.ses_id %}delete"
               title="Delete this session." 
               target="_blank">
              <span class="glyphicon glyphicon-remove icon-cont"
                    aria-hidden="true"></span>
            </a>
          </span>
          <!-- End Delete button -->
		</li>
		{% endfor %}
	  </ul>
	</nav>

  </div>
  <!-- End of the sidebar -->
  <!-- Start of the content -->
  <div class="col-md-10">

      {% block session_content %}{% endblock session_content %}

  </div>
  <!-- End of the content -->

</div>


{% endblock content %}
