{% extends '_layout/base.html' %}

{% load static %}

{% block content %}

{% block navbar %}
<!-- Header bar -->
<nav class="navbar">

  <div class="navbar-header">
    <a class="navbar-brand" href="">CAST - Database of telemetry logs</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="menu-container">
    <ul class="menu-list">
      <li><a href="{% url 'GlobalMap' %}">Global Map</a></li>
      <li><a href="{% url 'Session' 'corrupted'  %}download">Corrupted Data</a></li>
      <li><a href="http://measure.feld.cvut.cz/cast">About</a></li>
      <!--
      <li><a href="#">Services</a></li>
      <li><a href="#">Works</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Contact</a></li>
      -->
    </ul>
  </div><!-- /.navbar-collapse -->
</nav><!-- /.navbar -->

{% endblock navbar %}

<div class="row row-border">

  <!-- Start of the side bar -->
  <div class="col-md-2 nav-sidebar-without-rp">

    <!--<h4>Global data:</h4>
    <nav class="nav-sidebar">
	  <ul class="nav-sidebar-list">
        <li><a href="{% url 'Session' 'corrupted'  %}download">Corrupted data</a></li>
        <li><a href="{% url 'GlobalMap' %}">Global Map</a></li>
      </ul>
    </nav> -->
    {% if servers %}
    <div class="alert alert-success" role="alert">
        List of currently running servers:
        {% for server in servers %}
            <p>{{ server }}</p>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
        We couldn't find any running servers.
    </div>
    {% endif %}
    <h4>Log-Sessions:</h4>
    <nav class="nav-sidebar">
	  <ul class="nav-sidebar-list">
	    {% for item in sessions %}
        <li class="menu-button-container">
          <!-- Start link to session -->
          <div>
            <span class="menu-item" >
                <a href="{% url 'Session'  item.ses_id %}">{{ item.name }}</a>
            </span>
          </div>
          <!-- End link to session -->

          <!-- Start Notes and controls block -->
          <div class="notes-controls-container">
              <div><span class="notes">id: {{ item.ses_id }}</span></div>
              <div><span class="notes">date: {{ item.getDate }}</span>

          <!-- Start download button -->
          <div class="session-control-buttons">
          <span class="menu-item-cont-icon" >
            <a class="menu-icon-link" 
               href="{% url 'Session'  item.ses_id %}download"
               title="Download session"
               target="_blank">
              <span class="glyphicon glyphicon-download-alt icon-cont grey"
                    aria-hidden="true"></span>
            </a>
          </span>
          <!-- End download button -->
          <!-- Start Map button -->
          <span class="menu-item-cont-icon" >
            <a class="menu-icon-link" 
               href="{% url 'Session'  item.ses_id %}Map"
               title="View map in another tab." 
               target="_blank">
              <span class="glyphicon glyphicon-map-marker icon-cont grey"
                    aria-hidden="true"></span>
            </a>
          </span>
          <!-- End Map button -->
          <!-- Start Delete button -->
          <script type="text/javascript">
          function deleteSession(ses_id){
          if (confirm('Are you sure you want to delete this session?')) {
            window.location.href = ses_id + "delete";
          }
          }
          </script>
          <span class="menu-item-cont-icon" >
            <a class="menu-icon-link" 
               href="javascript:void(0)"
               onclick="javascript:deleteSession({% url 'Session'  item.ses_id %})"
               title="Delete this session.">
              <span class="glyphicon glyphicon-remove icon-cont grey"
                    aria-hidden="true"></span>
            </a>
          </span>
          <!-- End Delete button -->
          </div>
          <div>

          </div>
		</li>
		{% endfor %}
	  </ul>
	</nav>

  </div>
  <!-- End of the sidebar -->
  <!-- Start of the content -->
  <div class="col-md-10">

      {% block session_content %}{% endblock session_content %}

  </div>
  <!-- End of the content -->

</div>


{% endblock content %}
