{% extends ext_templ %}

{% block session_content %}
<!-- Start of the content -->
<div class="col-md-4">
    <!-- Table with controls -->
    <h4>Controls</h4>
    <table class="table striped">
      <tr>
        <td class="col-md-5">Show aerospaces:</td>
        <td>
            <input type="checkBox" id="aerospace_on_btn" />
        </td>
      </tr>
      <tr>
        <td class="col-md-5">Data and map:</td>
        <td>
          <!-- Start download button -->
          <span class="menu-item-cont-icon" >
            <a class="menu-icon-link" 
               style="padding: 7px 5px;"
               href="{% url 'Session'  ses_info.ses_id %}download"
               title="Download session"
               target="_blank">
              <span class="glyphicon glyphicon-download-alt icon-cont"
                    aria-hidden="true"></span>
            </a>
          </span>
          <!-- End download button -->
          <!-- Start Map button -->
          <span class="menu-item-cont-icon" >
            <a class="menu-icon-link" 
               style="padding: 7px 5px;"
               href="{% url 'Session'  ses_info.ses_id %}Map"
               title="View map in another tab." 
               target="_blank">
              <span class="glyphicon glyphicon-map-marker icon-cont"
                    aria-hidden="true"></span>
            </a>
          </span>
          <!-- End Map button -->
          <!-- Start Delete button -->
          <span class="menu-item-cont-icon" >
            <a class="menu-icon-link" 
               href="javascript:void(0)"
               onclick="javascript:deleteSession({% url 'Session'  item.ses_id %})"
               title="Delete this session.">
              <span class="glyphicon glyphicon-remove icon-cont"
                    aria-hidden="true"></span>
            </a>
          </span>
          <!-- End Delete button -->
        </td>
      </tr>
    </table>
    <!-- End of Table with controls -->
    <!-- Table with session information -->
    <h4>Session information:</h4>
    <table class="table striped">
      <tr>
        <td class="col-md-5">Session id:</td>
        <td> {{ ses_info.ses_id }}</td>
      </tr>
      <tr>
        <td class="col-md-5">Date range:</td>
        <td> {{ ses_info.date_range }}</td>
      </tr>
      <tr>
        <td class="col-md-5">Time range:</td>
        <td> {{ ses_info.time_range }}</td>
      </tr>
      <!--<tr>
        <td class="col-md-5">Average speed:</td>
        <td> {{ ses_info.avr_speed }}</td>
      </tr>
      <tr>
        <td class="col-md-5">Average satelite number:</td>
        <td> {{ ses_info.avr_sat_num }}</td>
      </tr> -->
    </table>
    <!-- End of table with session information -->
    <!-- Point information -->
    <h4>Current point:</h4>
    <table class="table striped">
      <tr>
        <td class="col-md-5">Point coordinates:</td>
        <td id="point_coords"></td>
      </tr>
      <tr>
        <td class="col-md-5">Point nearest address:</td>
        <td id="point_address"></td>
      </tr>
    </table>
    <!-- End of point information table -->
</div>

<!-- Map -->
<div class="col-md-8">
  <div id="map" class="map">
    <div id="popup" class="ol-popup"></div>
  </div>
  <!-- Script for sending map data to javascript code. -->
  <script type="text/javascript">
    init_map(JSON.parse('{{ json_map_center|safe }}'));
    add_route(JSON.parse('{{ json_map_data|safe }}'), '{{ ses_info.ses_id }}');
    set_zoom(
            {{ json_map_center|safe }},
            zoomFromBounds({{ json_map_bounds|safe }})
    );
  </script>
  {% load static %}
  <script type="text/javascript" src="{% static 'controls.js' %}"></script>
</div>
<!-- End of map -->

<div class="col-md-12">
  <h4>Some of the packages:</h4>
  <!-- { block packages_list %}{ endblock packages_list %} -->
  {% include 'packages_table.html' %}
</div>
<!-- End of the content -->
{% endblock session_content %}
