.maps {
  width: 400px;
  height: 400px;
}

.ol-popup {
  min-width: 280px;
}

#hidden_id {
  display: none;
}

/* Navigation sidebar */

.nav-sidebar { 
  width: 100%;
}

.nav-sidebar-without-rp {
  padding-right: 0px;
}

.nav-sidebar-list {
  list-style: none;
  padding: 0;
}

.nav-sidebar-list li {
  line-height: 20px;
  overflow: auto;
  margin: 5px 0px;
}

.nav-sidebar-list .menu-item {
  /* display: block;
  position: relative;
  width: 100%;
  float: left;
  margin-right: -82px; */
}

.nav-sidebar-list .menu-item a {
  /*padding: 7px 5px;
  float: left;*/
}

.menu-button-container {
  background: white;
  padding: 5px;
}

.menu-button-container:hover {
  background: #f4f4f4;
}

.menu-button-container {
  background: white;
}

.notes-controls-container {
	margin-top: 3px;
  line-height: 14px;
}

.notes {
  color: #747474;
  font-size: 12px;
}

/*============================================================================*/
/* Icons */
/*============================================================================*/
.session-control-buttons {
  float: right;
  width 82px;
  margin-top: -9px;
}
.grey {
  color: #8d8d8d;
}

.nav-sidebar-list .menu-item-cont-icon {
  padding: 0;
  float: left;
}

#session-name-edit {
  margin-top: 25px;
  margin-left: 10px;
}

.nav-sidebar-list .menu-icon-link {
  padding: 7px 5px;
  display: block;
}

.nav-sidebar-list .menu-icon-link .icon-cont {
  text-align: center;
  font-size: 12px;
  display: block;
}

.nab-sidebar-list li:hover {
  background-color: #DDD;
}


.navbar {
  width: 1200px;
  height: 50px;
  position: relative;
  margin: 0 auto;
}

.navbar-brand {
  line-height: 100%;
}

.menu-list {
	float: right !important;
  margin-right: -15px;
	list-style: none;
}

.menu-list li {
	float: left;
}

.menu-list li a {
	padding: 15px 15px;
	line-height: 20px;
  display: block;
  position: relative;
}

.row-border {
  border-top: 1px solid #ddd;
  padding-top: 15px;
}
