{% extends '_layout/base.html' %}

{% block content %}
<div class="row row-border">
  <div class="col-md-2 nav-sidebar-without-rp">
    <h4>Sessions:</h4>
    <nav class="nav-sidebar">
	  <ul class="nav-sidebar-list">
	    {% for item in sessions %}
          <li>
            <span class="menu-item" >
              <a 
                  href="{% url 'Session'  item.ses_id %}">{{ item.ses_id }}</a>
            </span>
            <span class="menu-item-down-icon" >
              {% load static %}
              <a class="menu-down-icon" 
                 href="{% url 'Session'  item.ses_id %}download"
                  title="Download session">
                <span class="glyphicon glyphicon-download-alt download-icon"
                  aria-hidden="true"></span>
              </a>
            </span>
		  </li>
		{% endfor %}
	  </ul>
	</nav>
  </div>
  <div class="col-md-10">
    <h4>Contents:</h4>
    {% block session_content %}{% endblock session_content %}
  </div>
</div>


{% endblock content %}
