{% extends '_layout/base.html' %}

{% load static %}

{% block content %}
<div class="row row-border" style="padding-top: 0px;">

  <h3 style="text-align: center;">Map for session #{{ ses_id }}</h3>

  <div id="map" class="map">
    <div id="popup" class="ol-popup"></div>
  </div>
  <!-- Script for sending map data to javascript code. -->
  <script type="text/javascript">
    // draw_map('{{ json_map_data|safe }}', '{{ json_map_center|safe }}', 
             // draw_map); 
    init_map(JSON.parse('{{ json_map_center|safe }}'));
    add_route(JSON.parse('{{ json_map_data|safe }}'));
    set_zoom(
            {{ json_map_center|safe }},
            zoomFromBounds({{ json_map_bounds|safe }})
    );
  </script>

</div>


{% endblock content %}
